<div [ngSwitch]="currentState">
  <div *ngSwitchCase="'buyerMain'">
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=""
          ><img src="assets/img/MBJ.svg" class="header__logo"
        /></a>
        <form action="" class="search" #f="ngForm" spellcheck="false">
          <div class="searchBar">
            <img src="assets/img/loupe.svg" alt="" class="searchIcon" />
            <input
              type="text"
              class="search-input"
              ngModel
              name="searchQuery"
              #search="ngModel"
              required
            />
            <button
              type="button"
              class="search-button"
              (click)="onClick()"
              [disabled]="!f.valid"
            >
              Хайх
            </button>
          </div>
        </form>
      </div>
      <div class="header header__right">
        <a class="nav-text">Мессеж</a>
        <a class="nav-text">Хадгалсан Гиг-үүд</a>
        <a class="nav-text">Захиалгууд</a>
        <a class="nav-specialText" (click)="switchLogInMode()"
          >{{ nextModeName }}д Шилжих</a
        >
        <div>
          <button
            type="button"
            class="profileBtn"
            (click)="profileDropdown.click()"
          >
            <img [src]="profileImgUrl" alt="" class="profileBtn__img" />
            <div class="profileBtn__downArrow"></div>
          </button>
          <div class="profileOptions" #profileDropdown appDropDown>
            <a class="profileOption" routerLink="/user-profile/{{ userName }}"
              >Профиль</a
            >
            <a class="profileOption">Тохиргоо</a>
            <hr />
            <div
              class="profileOption profileOption__flexed profileOption__green"
            >
              <a class="whiteText">Шагнал</a>
              <img
                src="assets/img/referal.svg"
                alt=""
                class="profileOption__img"
              />
            </div>
            <div
              class="profileOption profileOption__flexed profileOption__blue"
              (click)="logout()"
            >
              <a class="whiteText">Гарах</a>
              <img
                src="assets/img/logout.svg"
                alt=""
                class="profileOption__img"
              />
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div *ngSwitchCase="'sellerMain'">
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink="/seller-board/{{ userName }}"
          ><img src="assets/img/MBJ.svg" class="header__logo"
        /></a>
        <a class="nav-text">Хяналтын Cамбар</a>
        <a class="nav-text">Гиг-үүд</a>
        <a class="nav-text">Захиалгууд</a>
        <a class="nav-text">Орлогo</a>
        <a class="nav-text">Мессеж</a>
      </div>
      <div class="header header__right">
        <a class="nav-specialText" (click)="switchLogInMode()"
          >{{ nextModeName }}д Шилжих</a
        >
        <div>
          <button
            type="button"
            class="profileBtn"
            (click)="profileDropdown.click()"
          >
            <img [src]="profileImgUrl" alt="" class="profileBtn__img" />
            <div class="profileBtn__downArrow"></div>
          </button>
          <div class="profileOptions" #profileDropdown appDropDown>
            <a class="profileOption" routerLink="/user-profile/{{ userName }}"
              >Профиль</a
            >
            <a class="profileOption">Тохиргоо</a>
            <hr />
            <div
              class="profileOption profileOption__flexed profileOption__green"
            >
              <a class="whiteText">Шагнал</a>
              <img
                src="assets/img/referal.svg"
                alt=""
                class="profileOption__img"
              />
            </div>
            <div
              class="profileOption profileOption__flexed profileOption__blue"
              (click)="logout()"
            >
              <a class="whiteText">Гарах</a>
              <img
                src="assets/img/logout.svg"
                alt=""
                class="profileOption__img"
              />
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div *ngSwitchCase="'onlyLogo'">
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=""
          ><img src="assets/img/MBJ.svg" class="header__logo"
        /></a>
      </div>
    </nav>
  </div>

  <div *ngSwitchDefault>
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=""
          ><img src="assets/img/MBJ.svg" class="header__logo"
        /></a>
      </div>
      <div class="header header__right">
        <a class="nav-text" routerLink="/auth/logIn">Нэвтрэх</a>
        <div class="verticalLine"></div>
        <a class="nav-text" routerLink="/auth/signUp">Бүртгүүлэх</a>
      </div>
    </nav>
  </div>
</div>
