<div [ngSwitch] = "currentState">
    <div *ngSwitchCase = "'authenticated'">
        <nav class="header-container"> 
            <div class="header header__left">
                <img src="../../assets/img/MBJ.svg" class="header__logo">
                <form action="" class="search" #f = "ngForm">
                    <div class="searchBar">
                        <img src="../../assets/img/loupe.svg" alt="" class="searchIcon">
                        <input type="text" class="search-input" ngModel name = "searchQuery" #search = "ngModel" required>
                        <button type="button" class="search-button" (click) = "onClick()" [disabled] = "!f.valid">Хайх</button>
                    </div>
                </form>
            </div>
            <div class="header header__right">
                <a class="nav-text">Ажил тавих</a>
                <a class="nav-text">Хадгалсан</a>
                <a class="nav-text">Захиалгууд</a>
                <a class="nav-text" (click) = "logOut()">Гарах</a>
            </div>
        </nav>
    </div>
    <div *ngSwitchCase = "'creatingProfile'">
        <nav class="header-container"> 
            <div class="header header__left">
                <img src="../../assets/img/MBJ.svg" class="header__logo">
            </div>
        </nav>
    </div>
    <div *ngSwitchDefault>
        <nav class="header-container"> 
            <div class="header header__left">
                <a routerLink=''><img src="../../assets/img/MBJ.svg" class="header__logo"></a>
            </div>
            <div class="header header__right">
                <a class="nav-text" routerLink='/auth/logIn' (click) = "resetForm()">Нэвтрэх</a>
                <div class="verticalLine"></div>
                <a class="nav-text" routerLink='/auth/signUp' (click) = "resetForm()">Бүртгүүлэх</a>
            </div>
        </nav>
    </div>
</div>
