<div [ngSwitch]="currentState">
  <div *ngSwitchCase="'authenticated'">
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=''><img src="../../assets/img/MBJ.svg" class="header__logo"></a>
        <form action="" class="search" #f="ngForm">
          <div class="searchBar">
            <img src="../../assets/img/loupe.svg" alt="" class="searchIcon">
            <input type="text" class="search-input" ngModel name="searchQuery" #search="ngModel" required>
            <button type="button" class="search-button" (click)="onClick()" [disabled]="!f.valid">Хайх</button>
          </div>
        </form>
      </div>
      <div class="header header__right">
        <a class="nav-text" routerLink='/seller-set-up/personal'>Худалдагч Болох</a>
        <a class="nav-text">Мессеж</a>
        <a class="nav-text">Хадгалсан Gig-үүд</a>
        <a class="nav-text">Захиалгууд</a>
        <div>
          <button class="profileBtn">
            <img [src]="profileImgUrl" alt="" class="profileBtn__img">
            <div class="profileBtn__downArrow"></div>
          </button>
          <div class="profileOptions">
            <a class="profileOption">Профиль</a>
            <a class="profileOption">Тохиргоо</a>
            <hr>
            <div class="profileOption profileOption__flexed profileOption__green">
              <a class="whiteText">Шагнал</a>
              <img src="../../assets/img/referal.svg" alt="" class="profileOption__img">
            </div>
            <div class="profileOption profileOption__flexed profileOption__blue">
              <a class="whiteText" (click)="logout()">Гарах</a>
              <img src="../../assets/img/logout.svg" alt="" class="profileOption__img">
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div *ngSwitchCase="'onlyLogo'">
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=''><img src="../../assets/img/MBJ.svg" class="header__logo"></a>
      </div>
    </nav>
  </div>
  <div *ngSwitchCase="'sellerAuthenticated'">
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=''><img src="../../assets/img/MBJ.svg" class="header__logo"></a>
      </div>
      <div class="header header__right">
        <a class="nav-text">Ажил тавих</a>
      </div>
    </nav>
  </div>
  <div *ngSwitchDefault>
    <nav class="header-container">
      <div class="header header__left">
        <a routerLink=''><img src="../../assets/img/MBJ.svg" class="header__logo"></a>
      </div>
      <div class="header header__right">
        <a class="nav-text" routerLink='/auth/logIn'>Нэвтрэх</a>
        <div class="verticalLine"></div>
        <a class="nav-text" routerLink='/auth/signUp'>Бүртгүүлэх</a>
      </div>
    </nav>
  </div>
</div>
