<footer class="footer-container">
    <div class="footer max-width-container">
      <hr>
      <ul class="footer__left">
        <li class="footer__links">
          <p>Ангилал</p>
          <a class="footer__text footer__link">График Дизайн</a>
          <a class="footer__text footer__link">Интернет Маркетинг</a>
          <a class="footer__text footer__link">Программ & Технологи</a>
          <a class="footer__text footer__link">Дуу & Ая</a>
          <a class="footer__text footer__link">Видио & Дүрс Амилуулал</a>
          <a class="footer__text footer__link">Бичвэр & Орчуулаг</a>
        </li>
        <li class="footer__links">
          <p>Туслалцаа</p>
          <a class="footer__text footer__link">МБЖ-дээр зарах</a>
          <a class="footer__text footer__link">МБЖ-ээс худалдах</a>
        </li>
      </ul>
      <ul class="footer__right">
        <li>
          <p>Сошиал медиа</p>
          <div class="footer__socialLinks">
            <a href="http://facebook.com" target="_blank"><img class="footer__social" src="../../assets/img/company-logos/facebook.svg"></a>
            <a href="http://instagram.com" target="_blank"><img class="footer__social" src="../../assets/img/company-logos/instagram.svg"></a>
            <a href="http://twitter.com" target="_blank"><img class="footer__social" src="../../assets/img/company-logos/twitter.svg"></a>
            <a href="http://youtube.com" target="_blank"><img class="footer__social footer__social__youtube" src="../../assets/img/company-logos/youtube.svg"></a>
          </div>
        </li>
        <div class="footer__contact">
          <p>Холбоо барих</p>
          <div class="footer__contact__address">
            <p class="footer__contact__highlighted-text">“МБЖ” ХХК төв оффис</p>
            <p class="footer__text">Монгол улс, Улаанбаатар - 16420, Сүхбаатар дүүрэг, Чингисийн өргөн чөлөө - 10, МБ цамхаг</p>
          </div>
          <div class="footer__contact__reach">
            <p class="footer__text">Утас: +(976) - (11) - 999999</p>
            <p class="footer__text">moondiidev@gmail.com</p>
          </div>
        </div>
      </ul>
    </div>
  </footer>