@import '../scss/variables.scss';
.headerError {
  background-color: rgb(192, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  height: $headerError-height;
  &__errorImg {
    margin-right: 2rem;
    height: 100%;
  }
  &__errorText{
      color: white;
      font-size: 1.3rem;
  }
}
