<div *ngIf="isLoading">
  <app-loading-dots></app-loading-dots>
</div>
<app-head-error *ngIf="accessDeniedError"></app-head-error>
<div [ngClass]="(accessDeniedError) ? 'auth-container auth-container--withError' : 'auth-container'">
  <form [formGroup]="authForm" class="auth-form" (ngSubmit)="onSubmit()">
    <img src="../../assets/img/user.svg" alt="" class="userLogo">
    <h2 class="heading-secondary auth-form__header">{{isLogIn === true ? "Тавтай морилнуу" : "Бүртгүүлэх"}}</h2>

    <!--- LOGIN INPUTS -->
    <div *ngIf="isLogIn" class="auth-form__inputs">
      <div class="auth-form__emailInput">
        <input type="text" class="auth-form__input" placeholder="Эмэйл" formControlName="email">
        <ul *ngIf="!this.authForm.get('email').valid && this.authForm.get('email').touched" class="auth-form__inputErrors">
          <li class="auth-form__inputError error-text">Байж болох эмэйл хаяг
            оруулна уу.</li>
        </ul>
      </div>
      <div class="auth-form__passwordContainer">
        <input [type]="passwordShow === true ? 'text' : 'password'" class="auth-form__input auth-form__passwordInput"
          placeholder="Нууц Үг" formControlName="password">
        <a (click)="togglePasswordVisibility()"><img
            [src]="passwordShow === true ? '../../assets/img/eye.svg' : '../../assets/img/hidden.svg'" alt=""
            class="auth-form__hidden"></a>
      </div>
    </div>

    <!--- SINGUP INPUTS -->
    <div *ngIf="!isLogIn" class="auth-form__inputs">
      <div class="auth-form__userNameContainer">
        <input type="text" class="auth-form__input" placeholder="Бусдад Харагдах Нэр" maxlength="15"
          formControlName="userName">
        <img *ngIf="checkingUserName" src="../../assets/img/spinner.svg" class="auth-form__spinner" alt="">
      </div>
      <ul class="auth-form__inputErrors"
        *ngIf="!this.authForm.get('userName').valid && this.authForm.get('userName').touched">
        <li class="auth-form__inputError error-text" *ngIf="this.authForm.get('userName').errors?.isNotUniqueUserName">
          Энэ нэр аль хэдийнээ ашиглалтад байна, өөр нэр хайж ол нуу.
        </li>
        <li class="auth-form__inputError error-text" *ngIf="this.authForm.get('userName').errors?.minlength">6-аас дээш
          үсэгтэй нэр
          оруулна уу</li>
        <li class="auth-form__inputError error-text" *ngIf="this.authForm.get('userName').errors?.pattern">Нэр заавал
          үсгээр эхэлж, зөвхөн доогуур зураас болон тоо агуулж болно.</li>
      </ul>
      <div class="auth-form__emailInput">
        <input type="text" class="auth-form__input" placeholder="Эмэйл" formControlName="email">
        <ul *ngIf="!this.authForm.get('email').valid && this.authForm.get('email').touched" class="auth-form__inputErrors">
          <li class="auth-form__inputError error-text">Байж болох эмэйл хаяг
            оруулна уу.</li>
        </ul>
      </div>
      <div class="auth-form__passwordContainer">
        <input [type]="passwordShow === true ? 'text' : 'password'" class="auth-form__input auth-form__passwordInput"
          placeholder="Нууц Үг" formControlName="password">
        <a (click)="togglePasswordVisibility()"><img
            [src]="passwordShow === true ? '../../assets/img/eye.svg' : '../../assets/img/hidden.svg'" alt=""
            class="auth-form__hidden"></a>
      </div>
      <ul class="auth-form__inputErrors" *ngIf="!this.authForm.get('password').valid">
        <li class="auth-form__inputError error-text" *ngIf="this.authForm.get('password').errors?.minlength">8-аас дээш
          үсэгтэй нууц үг
          оруулна уу</li>
      </ul>
    </div>

    <button type="submit" class="auth-form__submit"
      [disabled]="!authForm.valid">{{isLogIn === true ? "Нэвтрэх" : "МБЖ-д нэгд"}}</button>

    <p class="auth-form__submitErrorMessage error-text" *ngIf="error">{{error}}</p>

    <div class="auth-form-textArea">
      <label *ngIf="isLogIn" class="paragraph checkbox-container checkbox-container__center checkbox-container__blue">
        <input (click)="rememberMeToggle()" type="checkbox" class="checkbox">
        <span class="checkmark"></span>
        Намайг сана
      </label>
      <p *ngIf="!isLogIn" class="paragraph">Бүртгүүлсэнээр МБЖ-ээс имэйл хүлээн авахыг би хүлээн зөвшөөрч байна.</p>
      <hr class="horizontalLine">
      <p *ngIf="isLogIn; else signUpRedirect" class="auth-form__redirectText"> Хаяг байхгуй гэж үү? <a
          class="emphasis-link" routerLink="/auth/signUp">Бүртгүүлэх</a></p>
    </div>
  </form>
</div>

<!--- 
ng forms do not allow ng-template inputs to act as validator for the entire form. 
E.g if ng-template text input is invalid, the whole form will still be valid. 
To fix, use *ngIf twice and not ng templates. 
-->

<ng-template #signUpRedirect>
  <p class="auth-form__redirectText">Аль хэдийн хаяг байгаа гэж үү? <a class="emphasis-link"
      routerLink="/auth/logIn">Нэвтрэх</a></p>
</ng-template>
