@import '../../scss/sellerSetUpForms.scss';
@import '../../scss/checkbox.scss';

$border-color: #8a8a8aa8;
.input-lane{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown{
    font-size: 1.2rem;
    position: relative;
    flex: 1 0 0;
    max-width: 120px;
    z-index: 10;
    &--lg{
        max-width: 220px;
    }
    &__btn{
        text-align: left;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1.2rem;
        border: 1px solid $border-color;
        border-radius: 2px;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            right: 2rem;
            top: 45%;
            border: solid #444444;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transition: 0.1s;
            transform: rotate(45deg);
        }

    }
    &__options{
        padding: 1rem 0;
        overflow-y:auto;
        margin-top: 1rem;
        background-color: white;
        text-align: left;
        border: 1px solid $border-color;
        display: none;
        position: absolute;
        width: 100%;
        transform-origin: top;
        height: 20rem;
        &__el{
            padding: 1rem 0;
            padding-left: 3rem;
            transition: 0.2s;
            cursor: pointer;
            &:hover{
                background-color: #30e3ca;
            }
        }
    }
}
.ddOpen{
    > .dropdown__options{
        display: block;
    }
    > .dropdown__btn{
        &::after{
            transform: rotate(135deg) scaleX(-1); 
        }
    }
}

.skill-checkboxes{
    text-align: left;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    &__label{
        white-space: nowrap;
        font-size: 1.3rem;
    }
}
.skill-checkbox{
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    input[type=checkbox]{
        display: none;
    }
    &::before{
        content: "";
        background-color: #fff;
        display: inline-block;
        height: 1.8rem;
        width: 1.8rem;
        border: 1px solid #bcbcbf;
        border-radius: 2px;
        margin-right: 1rem;
    }
}
