.form-input {
  position: relative;
}

.title {
  &-starter {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    color: gray;
  }

  &-starter,
  &-textArea {
      font-size: 1.6rem;
  }
}
