.gigForm{
  width: 84rem;
}
.form-input-group {
  display: flex;
  padding-bottom: 2rem;
}

.form-input-label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 4rem;
  min-width: 15rem;
  text-align: right;
}

.form-input-body {
  position: relative;
  width: 100%;
}

.form-input-footer {
  margin-top: 1rem;
}

.noOfChar {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.title {
  &-starter {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    color: gray;
  }

  &-starter,
  &-textarea {
    font-size: 4rem;
    font-weight: 500;
    font-family: monospace;
  }

  &-textarea {
    text-indent: 50px;
    padding: 14px 12px;
    width: 100%;
  }
}
.dropdown{
  max-width: 30rem;
}
