$border-color: #8a8a8aa6;

.btn {
  width: 15em;
  height: 5rem;
  border-radius: 2%;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s;

  &--largeText {
    font-size: 1.4rem;
  }

  &:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  &-green {
    color: white;
    background-color: #1fab89;
  }

  &-orange {
    color: white;
    background-color: #f08a5d;
  }

  &-next {
    align-self: flex-end;
  }

  &:disabled {
    background-color: $disabled-color;
  }
}

$blue-color: #78cbd6;
$blue-color-light: #96f1fd;

.coolBtn-1 {
  width: 100%;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #222;
  padding: 1.5rem 6rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);

  span {
    color: #fff;
    position: relative;
    z-index: 1;
    white-space: nowrap;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 800%;
    width: 140%;
    background: $blue-color;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  &:hover::after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
}

.choice-btn {
  height: 4rem;
  padding: 1rem 2rem;
  border-radius: 2%;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid black;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  &-checked {
    background-color: $blue-color-light;
  }
}

.text-btn {
  &--green {
    color: #1fab89;
  }

  &--darkGreen {
    color: #138d6f;
  }

  &--large {
    font-size: 1.4rem;
  }

  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.form-ashen {
  &__btn {
    font-weight: 500;
    display: inline-block;
    padding: 0.7rem 1rem;
    width: 8rem;
    border: 1px solid $border-color;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }

  &__addBtn {
    margin-left: 2rem;
    background-color: #3ba549;
    color: white;

    &:disabled {
      background-color: $disabled-color !important;
    }

    &:hover {
      background-color: #2cb14d;
    }
  }

  &__removeBtn {
    background-color: #a5423b;
    color: white;

    &:hover {
      background-color: #c03530;
    }
  }
}

.dropdown {
  font-size: 1.2rem;
  position: relative;
  flex: 1 0 0;
  z-index: 10;
  max-width: 120px;

  &--lg {
    max-width: 220px;
  }

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    padding: 1.2rem;
    border: 1px solid $border-color;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer;


    &::after {
      content: "";
      transform-origin: center;
      position: absolute;
      right: 2rem;
      top: 40%;
      border: solid #444444;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transition: 0.1s;
      transform: rotate(45deg);
    }

  }

  &__options {
    padding: 1rem 0;
    overflow-y: auto;
    margin-top: 1rem;
    background-color: white;
    text-align: left;
    border: 1px solid $border-color;
    display: none;
    position: absolute;
    width: 100%;
    transform-origin: top;
    height: 20rem;

    &__el {
      padding: 1rem 0;
      padding-left: 3rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #a8dadc;
      }
    }
  }
}

.ddOpen {
  >.dropdown__options {
    display: block;
  }

  >.dropdown__btn {
    &::after {
      transform: rotate(135deg) scaleX(-1) translateY(-3px) translateX(-2px);
    }
  }
}
