
//seller-set-up CHILDREN STYLES
$text-color: #555555;

.setUp-heading {
    margin-bottom: 4rem;
  }
  
  .heading-primary {
    margin-bottom: 1.5rem;
  }
  
  .setUp-text {
    font-size: 1.2rem;
    line-height: 2rem;
    color: $text-color;
  }
  
  .setUpForm {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  
  .inputs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6rem;
    
    &__left{
        flex-grow: 1;
        text-align: left;
    }
    &__right{
      justify-items: right;
      width: 70%;
    }
  }
  
  .setUpText {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0;
    &::after {
      content: "*";
      padding-left: 2px;
      color: #d88200;
    }
  }
  input,
  textarea{
      font-size: 1.4rem;
      font-weight: 400;
  }
  .textInput {
    height: 3rem;
    width: 20rem;
    color: $text-color;
    outline: none;
  
    &:not(:last-of-type) {
      margin-right: 4rem;
    }
  }