.heading-primary{
    font-size: 3rem;
}
.heading-secondary{
    font-size: 2.5rem;
}
.heading-fourth{
    font-size: 1.8rem;
}
.emphasis-link{
    color: rgb(30, 135, 255);
    cursor: pointer;
}
.paragraph{
    font-size: 1.1rem;
    color: #62646a;
}
.labelText{
    font-size: 1.2rem;
    color: rgb(150, 150, 150);
}
.error-text{
    color: red;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}