.max-width-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 32px 64px;
}

.margin-bot-large {
  margin-bottom: 5rem;
}

.text-center {
  text-align: center;
}

.marginVertical-medium {
  margin: 2rem 0;
}

.horizontalLine {
  width: 100%;
  margin: 1.5rem 0;
}

.horizontalLine2 {
  width: 100%;
  margin: 1rem 0;
}
