@import './variables.scss';

.max-width-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 32px 64px;
  margin-top: $nav-height;
}

.margin-bot-xs {
  margin-bottom: 1rem;
}
.margin-bot-sm {
  margin-bottom: 1rem;
}
.margin-bot-large {
  margin-bottom: 5rem;
}

.margin-top-md {
  margin-top: 3rem;
}

.margin-top-tiny {
  margin-top: 1rem;
}

.margin-left-tiny {
  margin-left: 1rem;
}

.block {
  display: block;
}

.marginVertical-medium {
  margin: 2rem 0;
}

.horizontalLine {
  width: 100%;
  margin: 1.5rem 0;
}

.horizontalLine2 {
  width: 100%;
  margin: 1rem 0;
}
