@import './variables.scss';

.max-width-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 32px 64px;
}

.boxWrapper {
  background-color: white;
  box-shadow: 0 0 6px 1px rgba(48, 48, 48, 0.2);
  border: 1px solid rgb(190, 190, 190);
  padding: 4rem;
}

.oneByOneSplit{
  &__left{
    width: 35%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
  }
  &__right{
    width: 62%;
  }
}
.oneByOneSplit--smLeft{
  &__left{
    width: 30%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
  }
  &__right{
    width: 67%;
  }
}
// ************ FLEX **************

.flex-verticalCentered {
  display: flex;
  align-items: center;
}

.flex-verticalStart {
  display: flex;
  align-items: flex-start;
}
.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

// ************ MARGINS **************

.margin-bot-xs {
  margin-bottom: 1rem;
}

.margin-bot-sm {
  margin-bottom: 2rem;
}

.margin-bot-md {
  margin-bottom: 4rem;
}

.margin-bot-lg {
  margin-bottom: 5rem;
}

.margin-top-xxs {
  margin-top: 5px;
}

.margin-top-xs {
  margin-top: 1rem;
}

.margin-top-sm {
  margin-top: 2rem;
}

.margin-top-md {
  margin-top: 3rem;
}


.margin-left-xs {
  margin-left: 1rem;
}

.margin-right-sm {
  margin-right: 2rem;
}

.padding-bot-sm {
  padding-bottom: 2rem;
}

.marginVertical-sm {
  margin: 1.5rem 0;
}

.marginVertical-md {
  margin: 2rem 0;
}

// ************ HORIZONTAL LINE ***********

.horizontalLine {
  width: 100%;
  margin: 1.5rem 0;
  &--sm{
    margin: 1rem 0;
  }
  &--lg{
    margin: 2rem 0;
  }
  &--xl{
    margin: 2.5rem 0;
  }
  &--xxl{
    margin: 3rem 0;
  }

}


.block {
  display: block;
}