<div>
  <div class="setUp-heading">
    <h1 class="heading-primary"> Хувийн мэдээлэл </h1>
    <p class="setUp-text">Өөрийгөө танилцуулна уу. Худалдагч нарт өөрийг тань илүү таниулах үүднээс, эдгээр
      мэдээллүүд олон нийтийн профиль дээр чинь тавигдах болно.</p>
  </div>
  <form class="setUpForm" [formGroup] = "personalForm" (ngSubmit) = "onSubmit()">
    <div class="inputs">
      <div class="inputs__left">
        <h2 class="setUpText setUpText--required">Профиль зураг</h2>
      </div>
      <div class="inputs__right">
        <div class="imgDropbox">
          <img *ngIf="url !== null; else imagePlaceholder" [src]="url" alt="" class="imgDropbox__img">
          <div class="imgDropbox__dropbox" (click) = "dropbox.click();">
            <input #dropbox accept="image/x-png,image/jpeg,image/jpg" type="file" class="imgDropbox__dropbox__input" (change)="onFileSelected($event)">
          </div>
          <progress [ngStyle]="{'display': hideProgress ? 'none' : 'block'}" class="imgDropbox__progress" max="100" [value]="(uploadProgress | async)"></progress>
        </div>
      </div>
    </div>
    <div class="inputs">
      <div class="inputs__left">
        <label class="setUpText setUpText--required" for="fullName">Бүтэн нэр</label>
        <span class="paragraph margin-left-tiny">Нууцлагдмал</span>
      </div>
      <div formGroupName = "name" class="inputs__right">
        <input formControlName = "firstName" type="text" name="fullName" class="textInput" placeholder="Өөрийн нэр">
        <input formControlName = "lastName" type="text" name="fullName" class="textInput" placeholder="Эцгийн нэр">
        <span *ngIf = "!personalForm.get('name').valid && personalForm.get('name.firstName').touched && personalForm.get('name.lastName').touched" class="error-text margin-top-tiny block">Бүтэн нэрээ оруулна уу.</span>
      </div>
    </div>
    <div class="inputs">
      <div class="inputs__left">
        <label class="setUpText setUpText--required" for="description">Хувийн тайлбар</label>
      </div>
      <div class="inputs__right">
        <textarea formControlName = "description" [(ngModel)]="noOfChar" ng-trim="false" name="description" class="textboxInput" minlength="100"
          maxlength="600" placeholder="Ажлын туршлага, хийсэн төсөл болон чадварынхаа тухай хуваалц нуу."></textarea>
        <span class="paragraph noOfChar">{{noOfChar.length}} / 600</span>
        <span *ngIf = "!personalForm.get('description').valid && personalForm.get('description').touched" class="error-text text-left">Хамгийн багадаа 100 үсэг бичнэ үү.</span>
      </div>
    </div>
    <button type = "submit" class="btn btn-green btn-next" [disabled] = "!personalForm.valid">Үргэлжлүүлэх</button>
  </form>
</div>
<ng-template #imagePlaceholder>
  <div class="imgDropbox__placeholder">
    <img src="../../../assets/img/photo.svg" alt="" class="imgDropbox__imgPlaceholder">
  </div>
</ng-template>

<!--         
    profileImage error message
    <span *ngIf = "!personalForm.get('profileImage').valid" class="error-text margin-top-tiny">Зураг оруулна уу.</span>
-->