@import '../scss/utilities.scss';
@import '../scss/mixins.scss';
@import '../scss/checkboxClassWorker.scss';
@import '../scss/animations.scss';

$active-color : #1fab89;
$tick-color : #d7fbe8;
// ARROW attribution: Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
//seller-set-up CHILDREN STYLES
$text-color: #555555;

.setUp-heading {
  margin-bottom: 6rem;
}

.heading-primary {
  margin-bottom: 1.5rem;
}

.setUp-text {
  font-size: 1.3rem;
  line-height: 2rem;
  color: $text-color;
}

.setUpForm {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;

  &__personalBtns {
    display: flex;
    justify-content: flex-end;

    &__save {
      position: relative;
    }

    &__savedNotification {
      @include absCenter;
      top: 0%;
      z-index: -10;

      &__icon {
        width: 4rem;
        height: 4rem;
      }
      &__text{
        color: rgb(255, 174, 187);
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }

    .btn-next {
      margin-left: 2rem;
    }
  }
}

.inputs {
  display: flex;
  align-items: flex-start;

  &:not(:last-of-type) {
    margin-bottom: 8rem;
  }

  &:last-of-type {
    margin-bottom: 4rem;
  }

  &__left {
    flex-grow: 1;
    text-align: left;
  }

  &__right {
    justify-items: right;
    width: 70%;
  }
}

.setUpText {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 0;

  &--required {
    &::after {
      content: "*";
      padding-left: 2px;
      color: #d88200;
    }
  }
}

.personalTextInput {
  height: 3rem;
  width: 20rem;
  color: $text-color;
  outline: none;

  &:not(:last-of-type) {
    margin-right: 4rem;
  }
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    display: block;
    width: 8rem;
    height: 8rem;
    animation: spin 1s linear infinite;
  }
}

//*************************************************************
//*********************** HEADER NAV **************************
//*************************************************************
.setUpContainer {
  height: calc(100vh - 14rem);

  &__notice {
    text-align: right;
  }
}

.childContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.setUpHeader {
  margin-bottom: 6rem;

  &__nav {
    display: flex;
    margin: 0 auto;
    width: max-content;
  }
}

.step {
  outline: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 4rem;
  }

  &__order {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $disabled-color;
    position: relative;
    margin-right: 2rem;

    &__number {
      @include absCenter;
      font-size: 1.8rem;
      font-weight: bold;
      color: white;
    }

    &__backgroundActive {
      background-color: $active-color;
    }

    &__textActive {
      color: $active-color;
    }

    &__previous {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      height: 2rem;
      width: 1rem;
      border-bottom: 0.5rem solid $tick-color;
      border-right: 0.5rem solid $tick-color;
    }
  }

  &__navText {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__arrow {
    margin-left: 4rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

//*************************************************************
//********************* PERSONAL FORM *************************
//*************************************************************
.imgDropbox {
  position: relative;

  &__img,
  &__placeholder {
    margin: 0 auto;
    display: block;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 2px solid rgba(102, 102, 102, 0.4);
    background-color: rgb(238, 238, 238);
  }

  &__imgPlaceholder {
    width: 50%;
    height: 50%;
    @include absCenter;
  }

  &__dropbox {
    @include absCenter;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

    &__input {
      display: none;
      visibility: hidden;
    }

    &:hover {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
    }
  }

  &__progress {
    @include absCenter;
    width: 10rem;
    background-color: green($color: #000000);
    z-index: 1000;
  }
}

.textboxInput {
  padding: 1rem 5px;
  width: 100%;
  height: 15rem;
}

.noOfChar {
  display: block;
  text-align: right;
}

//*************************************************************
//******************* PROFESSIONAL FORM ***********************
//*************************************************************
$border-color: #8a8a8aa6;

.input-lane {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  font-size: 1.2rem;
  position: relative;
  flex: 1 0 0;
  max-width: 120px;
  z-index: 10;

  &--lg {
    max-width: 220px;
  }

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    padding: 1.2rem;
    border: 1px solid $border-color;
    border-radius: 2px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 2rem;
      top: 45%;
      border: solid #444444;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transition: 0.1s;
      transform: rotate(45deg);
    }

  }

  &__options {
    padding: 1rem 0;
    overflow-y: auto;
    margin-top: 1rem;
    background-color: white;
    text-align: left;
    border: 1px solid $border-color;
    display: none;
    position: absolute;
    width: 100%;
    transform-origin: top;
    height: 20rem;

    &__el {
      padding: 1rem 0;
      padding-left: 3rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #30e3ca;
      }
    }
  }
}

select {
  font-size: 1.4rem;
  font-weight: lighter;
}

.ddOpen {
  >.dropdown__options {
    display: block;
  }

  >.dropdown__btn {
    &::after {
      transform: rotate(135deg) scaleX(-1);
    }
  }
}

.skill-checkboxes {
  text-align: left;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

  &__label {
    white-space: nowrap;
    font-size: 1.3rem;
  }
}

.skill-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  input[type=checkbox] {
    display: none;
  }

  &::before {
    content: "";
    background-color: #fff;
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    border: 1px solid #bcbcbf;
    border-radius: 2px;
    margin-right: 1rem;
  }
}

.form-ashen {
  width: 100%;
  font-size: 1.2rem;

  &-wrapper {
    padding: 1.2rem;
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 2rem;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--center {
      justify-content: center;
    }

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__select,
  .textInput-wrapper {
    padding: 0.5rem 1rem;
  }

  &__btn {
    font-weight: 500;
    display: inline-block;
    padding: 0.7rem 1rem;
    width: 8rem;
    border: 1px solid $border-color;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }

  &__addBtn {
    margin-left: 2rem;
    background-color: #3ba549;
    color: white;

    &:hover {
      background-color: #2cb14d;
    }
  }

  &__removeBtn {
    background-color: #a5423b;
    color: white;

    &:hover {
      background-color: #c03530;
    }
  }

  &__select {
    width: 40%;
    -webkit-appearance: none;
    cursor: pointer;
    padding-right: 35px;
    background-image:
      linear-gradient(45deg, transparent 50%, #f5f5f5 50%),
      linear-gradient(135deg, #f5f5f5 50%, transparent 50%),
      linear-gradient(to right, #3fc1c9, #3fc1c9);
    background-position:
      calc(100% - 13px)1em,
      calc(100% - 8px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;

    &--year {
      width: 20%;
    }

    &--certificate {
      width: 30%;
    }

    &--gradYear {
      width: 35%;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid $border-color;
    font-size: 1.3rem;

    &__head {
      background-color: rgb(245, 245, 245);
    }

    &__mdRow {
      width: 40%;
    }

    &__smRow {
      width: 20%;
      text-align: right;
    }

    &__btn {
      color: #1dbf73;
      cursor: pointer;
      background: transparent;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

.professionalTextInput-wrapper {
  width: 60%;
}

.professionalTextInput {
  width: 100%;
  padding: 0.4rem 1rem;
  
}
