<!--
// Мэргэжлийн мэдээлэл
// Хувийн мэдээлэл
-->
<div class="setUpContainer max-width-container">
  <div class="setUpHeader">
    <nav class="setUpHeader__nav">
      <button (click)="personalNav()" class="step">
        <div class="step__order" [ngClass]="{step__order__backgroundActive : 0 <= navNum}">
          <div *ngIf="0 < navNum; else order1" class='step__order__previous'></div>
        </div>
        <p class="step__navText" [ngClass]="{step__order__textActive : 0 <= navNum}">Хувийн мэдээлэл</p>
        <img src="../../assets/img/nextArrow.svg" alt="" class="step__arrow">
      </button>
      <button [disabled]="!personalFormValid || !notLoading" (click)="professionalNav()" class="step">
        <div class="step__order" [ngClass]="{step__order__backgroundActive : 1 <= navNum}">
          <div *ngIf="1 < navNum; else order2" class='step__order__previous'></div>
        </div>
        <p class="step__navText" [ngClass]="{step__order__textActive : 1 <= navNum}">Мэргэжлийн мэдээлэл</p>
      </button>
    </nav>
    <p class="paragraph setUpContainer__notice">* Шаардлагатай хүснэгтүүд</p>
    <hr class="horizontalLine2">
  </div>

  <div *ngIf='notLoading; else formLoader'>
    <div class="childContainer" [ngSwitch]="navNum">
      <!-- ************************** PERSONAL FORM ***************************************-->
      <div *ngSwitchCase="0">
        <div class="setUp-heading">
          <h1 class="heading-primary"> Хувийн мэдээлэл </h1>
          <p class="setUp-text">Өөрийгөө танилцуулна уу. Худалдагч нарт өөрийг тань илүү таниулах үүднээс, эдгээр
            мэдээллүүд олон нийтийн профиль дээр чинь тавигдах болно.</p>
        </div>
        <form class="setUpForm" [formGroup]="personalForm" (ngSubmit)="onPersonalFormSubmit()">
          <div class="inputs">
            <div class="inputs__left">
              <h2 class="setUpText setUpText--required">Профиль зураг</h2>
            </div>
            <div class="inputs__right">
              <div class="imgDropbox">
                <img *ngIf="url !== null; else imagePlaceholder" [src]="url" alt="" class="imgDropbox__img">
                <div class="imgDropbox__dropbox" (click)="dropbox.click();">
                  <input #dropbox accept="image/x-png,image/jpeg,image/jpg" type="file"
                    class="imgDropbox__dropbox__input" (change)="onFileSelected($event)">
                </div>
                <progress [ngStyle]="{'display': hideProgress ? 'none' : 'block'}" class="imgDropbox__progress"
                  max="100" [value]="(uploadProgress | async)"></progress>
              </div>
            </div>
          </div>
          <div class="inputs">
            <div class="inputs__left">
              <label class="setUpText setUpText--required" for="fullName">Бүтэн нэр</label>
              <span class="paragraph margin-left-xs">Нууцлагдмал</span>
            </div>
            <div formGroupName="name" class="inputs__right">
              <input formControlName="firstName" type="text" name="fullName" class="personalTextInput"
                placeholder="Өөрийн нэр" (input)="onPersonalChange()">
              <input formControlName="lastName" type="text" name="fullName" class="personalTextInput"
                placeholder="Эцгийн нэр" (input)="onPersonalChange()">
              <span
                *ngIf="!personalForm.get('name').valid && personalForm.get('name.firstName').touched && personalForm.get('name.lastName').touched"
                class="error-text margin-top-xs block">Бүтэн нэрээ оруулна уу.</span>
            </div>
          </div>
          <div class="inputs">
            <div class="inputs__left">
              <label class="setUpText setUpText--required" for="description">Хувийн тайлбар</label>
            </div>
            <div class="inputs__right">
              <textarea formControlName="description" ng-trim="false" name="description" class="textboxInput"
                minlength="100" maxlength="600" (input)="onPersonalChange()"
                placeholder="Ажлын туршлага, хийсэн төсөл болон чадварынхаа тухай хуваалц нуу."
                #personalDescription></textarea>
              <span class="paragraph noOfChar">{{personalDescription.value.length}} / 600</span>
              <span *ngIf="!personalForm.get('description').valid && personalForm.get('description').touched"
                class="error-text text-left">Хамгийн багадаа 100 үсэг бичнэ үү.</span>
            </div>
          </div>
          <div class="setUpForm__personalBtns">
            <div class="setUpForm__personalBtns__save">
              <button [disabled]='!personalChangesOccured' type="button" class="btn btn-orange"
                (click)="savePersonalData(true)">Хадгалах</button>
              <div *ngIf="showSavedPersonalAnim" class="animated savedFadeUpAnim setUpForm__personalBtns__savedNotification">
                <img src='../../assets/img/saved.svg' class="setUpForm__personalBtns__savedNotification__icon">
                <span class="setUpForm__personalBtns__savedNotification__text">Хадгаллаа</span>
              </div>
            </div>
            <button type="submit" class="btn btn-green btn-next" [disabled]="!this.personalFormValid">Үргэлжлүүлэх</button>
          </div>
        </form>
      </div>
      <ng-template #imagePlaceholder>
        <div class="imgDropbox__placeholder">
          <img src="../../../assets/img/photo.svg" alt="" class="imgDropbox__imgPlaceholder">
        </div>
      </ng-template>

      <!--         
        profileImage error message
        <span *ngIf = "!personalForm.get('profileImage').valid" class="error-text margin-top-xs">Зураг оруулна уу.</span>
    -->

      <!-- ************************** PROFESSIONAL FORM ***************************************-->
      <div *ngSwitchCase="1">
        <div class="setUp-heading">
          <h1 class="heading-primary"> Мэргэжлийн мэдээлэл </h1>
          <p class="setUp-text">Энэ хэсэгт та өөрийн мэргэжил болоод мэдлэг боловсрол, чадварынхаа тухай ирээдүйн
            худалдан авагч нарт танилцуулна уу.</p>
        </div>
        <div #scrollEl></div>
        <form class="setUpForm" [formGroup]="professionalForm" (ngSubmit)="onProfessionalFormSubmit()">
          <div class="inputs">
            <div class="inputs__left">
              <label class="setUpText setUpText--required" for="profession">Таны Мэргэжил</label>
            </div>
            <div class="inputs__right">
              <div class="input-lane">
                <button type="button" class="dropdown dropdown--lg" appDropDown>
                  <div class="dropdown__btn">{{professionText}}</div>
                  <ul class="dropdown__options animated zoomIn evenFaster">
                    <li class="dropdown__options__el" *ngFor="let profession of professions"
                      (click)="onSelectProfession(profession)">{{profession}}</li>
                  </ul>
                </button>
                <button type="button" class="dropdown" appDropDown>
                  <div class="dropdown__btn">{{fromYearText}}</div>
                  <ul class="dropdown__options animated zoomIn evenFaster">
                    <li class="dropdown__options__el" *ngFor="let fromYear of fromYears; let i = index "
                      (click)="onSelectFromYear(fromYear, i)">{{fromYear}}</li>
                  </ul>
                </button>
                <label class="labelText">Оноос</label>
                <button type="button" class="dropdown" appDropDown>
                  <div class="dropdown__btn">{{toYearText}}</div>
                  <ul class="dropdown__options animated zoomIn evenFaster">
                    <li class="dropdown__options__el" *ngFor="let toYear of toYears" (click)="onSelectToYear(toYear)">
                      {{toYear}}</li>
                  </ul>
                </button>
                <label class="labelText">Он</label>
              </div>
              <p class="boldText margin-top-md">Хамгийн сайн 1-ээс 5 хүртэлх {{selectedProfession}} чадвараа сонгоно уу.
              </p>
              <div [ngSwitch]="selectedProfession">
                <div class="skill-checkboxes" *ngSwitchCase="'График Дизайн'">
                  <label *ngFor="let unused of graphicDesignNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" [value]='graphicDesignNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{graphicDesignNames[i]}}</span>
                  </label>
                </div>
                <div class="skill-checkboxes" *ngSwitchCase="'Онлайн Mаркетинг'">
                  <label *ngFor="let unused of marketingNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" class="checkbox" [value]='marketingNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{marketingNames[i]}}</span>
                  </label>
                </div>

                <div class="skill-checkboxes" *ngSwitchCase="'Дуу & Ая'">
                  <label *ngFor="let unused of soundNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" [value]='soundNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{soundNames[i]}}</span>
                  </label>
                </div>

                <div class="skill-checkboxes" *ngSwitchCase="'Бичиг & Орчуулагa'">
                  <label *ngFor="let unused of writingNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" [value]='writingNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{writingNames[i]}}</span>
                  </label>
                </div>

                <div class="skill-checkboxes" *ngSwitchCase="'Видео & Аниматион'">
                  <label *ngFor="let unused of videoNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" [value]='videoNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{videoNames[i]}}</span>
                  </label>
                </div>

                <div class="skill-checkboxes" *ngSwitchCase="'Программ & Технологи'">
                  <label *ngFor="let unused of programmingNames; let programmingName of programmingNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" [value]='programmingNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{programmingNames[i]}}</span>
                  </label>
                </div>

                <div class="skill-checkboxes" *ngSwitchCase="'Бусад'">
                  <label *ngFor="let unused of otherNames; let i = index"
                    class="checkbox-container checkbox-container__left checkbox-container__green">
                    <input type="checkBox" (change)="checkedState($event)" [id]="selectedProfession + i"
                      class="checkbox" [value]='otherNames[i]'>
                    <span class="checkmark"></span>
                    <span class="skill-checkboxes__label">{{otherNames[i]}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="inputs">
            <div class="inputs__left">
              <label class="setUpText setUpText--required">Чадварууд</label>
            </div>
            <div class="inputs__right">
              <form [formGroup]="skillsForm" class="form-ashen">
                <div class="skills">
                  <div class="form-ashen-wrapper" *ngIf="miniFormsShow[0]">
                    <div class="form-ashen-row">
                      <div class="professionalTextInput-wrapper">
                        <input type="text" formControlName="skillName" class="professionalTextInput"
                          placeholder="Чадвар нэмнүү (жишээ: Photoshop)">
                      </div>
                      <select class="form-ashen__select" formControlName="skillLevel">
                        <option value="0" disabled selected hidden>Мэдлэгийн Шат</option>
                        <option value="Анхан">Анхан</option>
                        <option value="Дунд">Дунд</option>
                        <option value="Гүнзгий">Гүнзгий</option>
                      </select>
                    </div>
                    <div class="form-ashen-row form-ashen-row--center">
                      <button type="button" class="form-ashen__btn form-ashen__removeBtn"
                        (click)="removeMiniForm(0)">Болих</button>
                      <button type="button" *ngIf="!miniFormEditing[0]; else skillEditingHTML"
                        class="form-ashen__btn form-ashen__addBtn" (click)="addSkill()" [disabled] = "!this.skillsForm.valid">Нэмэх</button>
                    </div>
                  </div>
                  <table class="form-ashen__table">
                    <thead class="form-ashen__table__head" *ngIf="!miniFormsEmpty[0]">
                      <tr>
                        <th class="form-ashen__table__mdRow">Чадвар</th>
                        <th class="form-ashen__table__mdRow">Зэрэглэл</th>
                        <th class="form-ashen__table__smRow">
                          <button type="button" class="form-ashen__table__btn" (click)="showMiniForm(0)">Шинэ</button>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="form-ashen__showBtns" #skillsTable>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
          <div class="inputs">
            <div class="inputs__left">
              <label class="setUpText">Боловсрол</label>
            </div>
            <div class="inputs__right">
              <form [formGroup]="educationsForm" class="form-ashen">
                <div class="educations">
                  <div class="form-ashen-wrapper" *ngIf="miniFormsShow[1]">
                    <div class="form-ashen-row">
                      <select class="form-ashen__select" formControlName="country">
                        <option value="0" disabled selected hidden>Орших Улс</option>
                        <option value="af">Afghanistan</option>
                        <option value="ax">Åland Islands</option>
                        <option value="al">Albania</option>
                        <option value="dz">Algeria</option>
                        <option value="as">American Samoa</option>
                        <option value="ad">Andorra</option>
                        <option value="ao">Angola</option>
                        <option value="ai">Anguilla</option>
                        <option value="aq">Antarctica</option>
                        <option value="ag">Antigua and Barbuda</option>
                        <option value="ar">Argentina</option>
                        <option value="am">Armenia</option>
                        <option value="aw">Aruba</option>
                        <option value="ac">Ascension Island</option>
                        <option value="au">Australia</option>
                        <option value="at">Austria</option>
                        <option value="az">Azerbaijan</option>
                        <option value="bs">Bahamas</option>
                        <option value="bh">Bahrain</option>
                        <option value="bd">Bangladesh</option>
                        <option value="bb">Barbados</option>
                        <option value="by">Belarus</option>
                        <option value="be">Belgium</option>
                        <option value="bz">Belize</option>
                        <option value="bj">Benin</option>
                        <option value="bm">Bermuda</option>
                        <option value="bt">Bhutan</option>
                        <option value="bo">Bolivia</option>
                        <option value="ba">Bosnia and Herzegovina</option>
                        <option value="bw">Botswana</option>
                        <option value="bv">Bouvet Island</option>
                        <option value="br">Brazil</option>
                        <option value="io">British Indian Ocean Territory</option>
                        <option value="vg">British Virgin Islands</option>
                        <option value="bn">Brunei</option>
                        <option value="bg">Bulgaria</option>
                        <option value="bf">Burkina Faso</option>
                        <option value="bi">Burundi</option>
                        <option value="kh">Cambodia</option>
                        <option value="cm">Cameroon</option>
                        <option value="ca">Canada</option>
                        <option value="ic">Canary Islands</option>
                        <option value="cv">Cape Verde</option>
                        <option value="bq">Caribbean Netherlands</option>
                        <option value="ky">Cayman Islands</option>
                        <option value="cf">Central African Republic</option>
                        <option value="ea">Ceuta and Melilla</option>
                        <option value="td">Chad</option>
                        <option value="cl">Chile</option>
                        <option value="cn">China</option>
                        <option value="cx">Christmas Island</option>
                        <option value="cp">Clipperton Island</option>
                        <option value="cc">Cocos [Keeling] Islands</option>
                        <option value="co">Colombia</option>
                        <option value="km">Comoros</option>
                        <option value="cd">Congo [DRC]</option>
                        <option value="cg">Congo [Republic]</option>
                        <option value="ck">Cook Islands</option>
                        <option value="cr">Costa Rica</option>
                        <option value="hr">Croatia</option>
                        <option value="cu">Cuba</option>
                        <option value="cw">Curaçao</option>
                        <option value="cy">Cyprus</option>
                        <option value="cz">Czech Republic</option>
                        <option value="dk">Denmark</option>
                        <option value="dg">Diego Garcia</option>
                        <option value="dj">Djibouti</option>
                        <option value="dm">Dominica</option>
                        <option value="do">Dominican Republic</option>
                        <option value="tl">East Timor</option>
                        <option value="ec">Ecuador</option>
                        <option value="eg">Egypt</option>
                        <option value="sv">El Salvador</option>
                        <option value="gq">Equatorial Guinea</option>
                        <option value="er">Eritrea</option>
                        <option value="ee">Estonia</option>
                        <option value="et">Ethiopia</option>
                        <option value="eu">European Union</option>
                        <option value="fk">Falkland Islands [Islas Malvinas]</option>
                        <option value="fo">Faroe Islands</option>
                        <option value="fj">Fiji</option>
                        <option value="fi">Finland</option>
                        <option value="fr">France</option>
                        <option value="gf">French Guiana</option>
                        <option value="pf">French Polynesia</option>
                        <option value="tf">French Southern Territories</option>
                        <option value="ga">Gabon</option>
                        <option value="gm">Gambia</option>
                        <option value="ge">Georgia</option>
                        <option value="de">Germany</option>
                        <option value="gh">Ghana</option>
                        <option value="gi">Gibraltar</option>
                        <option value="gr">Greece</option>
                        <option value="gl">Greenland</option>
                        <option value="gd">Grenada</option>
                        <option value="gp">Guadeloupe</option>
                        <option value="gu">Guam</option>
                        <option value="gt">Guatemala</option>
                        <option value="gg">Guernsey</option>
                        <option value="gn">Guinea</option>
                        <option value="gw">Guinea-Bissau</option>
                        <option value="gy">Guyana</option>
                        <option value="ht">Haiti</option>
                        <option value="hm">Heard Island and McDonald Islands</option>
                        <option value="hn">Honduras</option>
                        <option value="hk">Hong Kong</option>
                        <option value="hu">Hungary</option>
                        <option value="is">Iceland</option>
                        <option value="in">India</option>
                        <option value="id">Indonesia</option>
                        <option value="ir">Iran</option>
                        <option value="iq">Iraq</option>
                        <option value="ie">Ireland</option>
                        <option value="im">Isle of Man</option>
                        <option value="il">Israel</option>
                        <option value="it">Italy</option>
                        <option value="ci">Ivory Coast</option>
                        <option value="jm">Jamaica</option>
                        <option value="jp">Japan</option>
                        <option value="je">Jersey</option>
                        <option value="jo">Jordan</option>
                        <option value="kz">Kazakhstan</option>
                        <option value="ke">Kenya</option>
                        <option value="ki">Kiribati</option>
                        <option value="xk">Kosovo</option>
                        <option value="kw">Kuwait</option>
                        <option value="kg">Kyrgyzstan</option>
                        <option value="la">Laos</option>
                        <option value="lv">Latvia</option>
                        <option value="lb">Lebanon</option>
                        <option value="ls">Lesotho</option>
                        <option value="lr">Liberia</option>
                        <option value="ly">Libya</option>
                        <option value="li">Liechtenstein</option>
                        <option value="lt">Lithuania</option>
                        <option value="lu">Luxembourg</option>
                        <option value="mo">Macau</option>
                        <option value="mk">Macedonia [FYROM]</option>
                        <option value="mg">Madagascar</option>
                        <option value="mw">Malawi</option>
                        <option value="my">Malaysia</option>
                        <option value="mv">Maldives</option>
                        <option value="ml">Mali</option>
                        <option value="mt">Malta</option>
                        <option value="mh">Marshall Islands</option>
                        <option value="mq">Martinique</option>
                        <option value="mr">Mauritania</option>
                        <option value="mu">Mauritius</option>
                        <option value="yt">Mayotte</option>
                        <option value="mx">Mexico</option>
                        <option value="fm">Micronesia</option>
                        <option value="md">Moldova</option>
                        <option value="mc">Monaco</option>
                        <option value="mn">Mongolia</option>
                        <option value="me">Montenegro</option>
                        <option value="ms">Montserrat</option>
                        <option value="ma">Morocco</option>
                        <option value="mz">Mozambique</option>
                        <option value="mm">Myanmar [Burma]</option>
                        <option value="na">Namibia</option>
                        <option value="nr">Nauru</option>
                        <option value="np">Nepal</option>
                        <option value="an">Netherlands Antilles</option>
                        <option value="nl">Netherlands</option>
                        <option value="nc">New Caledonia</option>
                        <option value="nz">New Zealand</option>
                        <option value="ni">Nicaragua</option>
                        <option value="ne">Niger</option>
                        <option value="ng">Nigeria</option>
                        <option value="nu">Niue</option>
                        <option value="nf">Norfolk Island</option>
                        <option value="kp">North Korea</option>
                        <option value="mp">Northern Mariana Islands</option>
                        <option value="no">Norway</option>
                        <option value="om">Oman</option>
                        <option value="qo">Outlying Oceania</option>
                        <option value="pk">Pakistan</option>
                        <option value="pw">Palau</option>
                        <option value="ps">Palestinian Territories</option>
                        <option value="pa">Panama</option>
                        <option value="pg">Papua New Guinea</option>
                        <option value="py">Paraguay</option>
                        <option value="pe">Peru</option>
                        <option value="ph">Philippines</option>
                        <option value="pn">Pitcairn Islands</option>
                        <option value="pl">Poland</option>
                        <option value="pt">Portugal</option>
                        <option value="pr">Puerto Rico</option>
                        <option value="qa">Qatar</option>
                        <option value="ro">Romania</option>
                        <option value="ru">Russia</option>
                        <option value="rw">Rwanda</option>
                        <option value="re">Réunion</option>
                        <option value="bl">Saint Barthélemy</option>
                        <option value="sh">Saint Helena</option>
                        <option value="kn">Saint Kitts and Nevis</option>
                        <option value="lc">Saint Lucia</option>
                        <option value="mf">Saint Martin</option>
                        <option value="pm">Saint Pierre and Miquelon</option>
                        <option value="vc">Saint Vincent and the Grenadines</option>
                        <option value="ws">Samoa</option>
                        <option value="sm">San Marino</option>
                        <option value="sa">Saudi Arabia</option>
                        <option value="sn">Senegal</option>
                        <option value="rs">Serbia</option>
                        <option value="sc">Seychelles</option>
                        <option value="sl">Sierra Leone</option>
                        <option value="sg">Singapore</option>
                        <option value="sx">Sint Maarten</option>
                        <option value="sk">Slovakia</option>
                        <option value="si">Slovenia</option>
                        <option value="sb">Solomon Islands</option>
                        <option value="so">Somalia</option>
                        <option value="za">South Africa</option>
                        <option value="gs">South Georgia and the South Sandwich Islands</option>
                        <option value="kr">South Korea</option>
                        <option value="ss">South Sudan</option>
                        <option value="es">Spain</option>
                        <option value="lk">Sri Lanka</option>
                        <option value="sd">Sudan</option>
                        <option value="sr">Suriname</option>
                        <option value="sj">Svalbard and Jan Mayen</option>
                        <option value="sz">Swaziland</option>
                        <option value="se">Sweden</option>
                        <option value="ch">Switzerland</option>
                        <option value="sy">Syria</option>
                        <option value="st">São Tomé and Príncipe</option>
                        <option value="tw">Taiwan</option>
                        <option value="tj">Tajikistan</option>
                        <option value="tz">Tanzania</option>
                        <option value="th">Thailand</option>
                        <option value="tg">Togo</option>
                        <option value="tk">Tokelau</option>
                        <option value="to">Tonga</option>
                        <option value="tt">Trinidad and Tobago</option>
                        <option value="ta">Tristan da Cunha</option>
                        <option value="tn">Tunisia</option>
                        <option value="tr">Turkey</option>
                        <option value="tm">Turkmenistan</option>
                        <option value="tc">Turks and Caicos Islands</option>
                        <option value="tv">Tuvalu</option>
                        <option value="um">U.S. Outlying Islands</option>
                        <option value="vi">U.S. Virgin Islands</option>
                        <option value="ug">Uganda</option>
                        <option value="ua">Ukraine</option>
                        <option value="ae">United Arab Emirates</option>
                        <option value="gb">United Kingdom</option>
                        <option value="us">United States</option>
                        <option value="uy">Uruguay</option>
                        <option value="uz">Uzbekistan</option>
                        <option value="vu">Vanuatu</option>
                        <option value="va">Vatican City</option>
                        <option value="ve">Venezuela</option>
                        <option value="vn">Vietnam</option>
                        <option value="wf">Wallis and Futuna</option>
                        <option value="eh">Western Sahara</option>
                        <option value="ye">Yemen</option>
                        <option value="zm">Zambia</option>
                        <option value="zw">Zimbabwe</option>
                      </select>
                      <div class="professionalTextInput-wrapper">
                        <input type="text" formControlName="universityName" class="professionalTextInput"
                          placeholder="Их Сургуулийн Нэр">
                      </div>
                    </div>
                    <div class="form-ashen-row">
                      <select class="form-ashen__select form-ashen__select--certificate" formControlName="title">
                        <option value="0" disabled selected hidden>Цол</option>
                        <option value="associate">Associate</option>
                        <option value="ba">B.A.</option>
                        <option value="bsc">B.Sc.</option>
                        <option value="ma">M.A.</option>
                        <option value="mba">M.B.A.</option>
                        <option value="msc">M.Sc.</option>
                        <option value="jd">J.D.</option>
                        <option value="md">M.D.</option>
                        <option value="phd">Ph.D</option>
                        <option value="barch">BArch</option>
                        <option value="bm">BM</option>
                        <option value="bfa">BFA</option>
                        <option value="mfa">MFA</option>
                        <option value="certificate">Certificate</option>
                        <option value="llb">LLB</option>
                        <option value="llm">LLM</option>
                        <option value="other">Other</option>
                      </select>
                      <div class="professionalTextInput-wrapper">
                        <input type="text" formControlName="major" class="professionalTextInput"
                          placeholder="Үндсэн Мэргэжил">
                      </div>
                      <select class="form-ashen__select form-ashen__select--gradYear" formControlName="graduationYear">
                        <option value="0" disabled selected hidden>Төгссөн Жил</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                      </select>
                    </div>
                    <div class="form-ashen-row form-ashen-row--center">
                      <button type="button" class="form-ashen__btn form-ashen__removeBtn"
                        (click)="removeMiniForm(1)">Болих</button>
                      <button *ngIf="!miniFormEditing[1]; else educationEditingHTML" type="button"
                        class="form-ashen__btn form-ashen__addBtn" (click)="addEducation()" [disabled] = "!this.educationsForm.valid">Нэмэх</button>
                    </div>
                  </div>
                  <table class="form-ashen__table">
                    <thead class="form-ashen__table__head" *ngIf="!miniFormsEmpty[1]">
                      <tr>
                        <th class="form-ashen__table__mdRow">Сурсан Мэргэжил</th>
                        <th class="form-ashen__table__mdRow">Төгссөн Жил</th>
                        <th class="form-ashen__table__smRow">
                          <button type="button" class="form-ashen__table__btn"
                            (click)="showMiniForm(1)">Шинэ</button> </th>
                      </tr>
                    </thead>
                    <tbody class="form-ashen__showBtns" #educationsTable>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
          <div class="inputs">
            <div class="inputs__left">
              <label class="setUpText">Сертификатнууд</label>
            </div>
            <div class="inputs__right">
              <form [formGroup]="certificationsForm" class="form-ashen">
                <div class="certifications">
                  <div class="form-ashen-wrapper" *ngIf="miniFormsShow[2]">
                    <div class="form-ashen-row">
                      <div class="professionalTextInput-wrapper">
                        <input type="text" formControlName="certificateName" class="professionalTextInput"
                          placeholder="Сертификатны Нэр">
                      </div>
                      <div class="professionalTextInput-wrapper">
                        <input type="text" formControlName="certificateGiver" class="professionalTextInput certification__giver"
                          placeholder="Баталгаажуулсан Газар">
                      </div>
                      <select class="form-ashen__select form-ashen__select--year" formControlName="certificateYear">
                        <option value="0" disabled selected hidden>Жил</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                      </select>
                    </div>
                    <div class="form-ashen-row form-ashen-row--center">
                      <button type="button" class="form-ashen__btn form-ashen__removeBtn"
                        (click)="removeMiniForm(2)">Болих</button>
                      <button *ngIf="!miniFormEditing[2]; else certificationEditingHTML" type="button"
                        class="form-ashen__btn form-ashen__addBtn" (click)="addCertification()" [disabled] = "!this.certificationsForm.valid">Нэмэх</button>
                    </div>
                  </div>
                  <table class="form-ashen__table">
                    <thead class="form-ashen__table__head" *ngIf="!miniFormsEmpty[2]">
                      <tr>
                        <th class="form-ashen__table__mdRow">Сертификат</th>
                        <th class="form-ashen__table__mdRow">Жил</th>
                        <th class="form-ashen__table__smRow">
                          <button type="button" class="form-ashen__table__btn"
                            (click)="showMiniForm(2)">Шинэ</button> </th>
                      </tr>
                    </thead>
                    <tbody class="form-ashen__showBtns" #certificationsTable>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
          <button type="submit" class="btn btn-green btn-next">Дуусгах</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formLoader>
  <div class="spinner">
    <img src="../../assets/img/spinner2.svg" alt="" class="spinner__icon">
  </div>
</ng-template>
<ng-template #imagePlaceholder>
  <div class="imgDropbox__placeholder">
    <img src="../../../assets/img/photo.svg" alt="" class="imgDropbox__imgPlaceholder">
  </div>
</ng-template>
<ng-template #skillEditingHTML>
  <button type="button" class="form-ashen__btn form-ashen__addBtn" (click)="editSkill(skillIndex)">Шинэчлэх</button>
</ng-template>
<ng-template #educationEditingHTML>
  <button type="button" class="form-ashen__btn form-ashen__addBtn"
    (click)="editEducation(educationIndex)">Шинэчлэх</button>
</ng-template>
<ng-template #certificationEditingHTML>
  <button type="button" class="form-ashen__btn form-ashen__addBtn"
    (click)="editCertification(certificationIndex)">Шинэчлэх</button>
</ng-template>

<!--         
      profileImage error message
      <span *ngIf = "!personalForm.get('profileImage').valid" class="error-text margin-top-xs">Зураг оруулна уу.</span>
  -->

<ng-template #order1>
  <div class='step__order__number'>1</div>
</ng-template>
<ng-template #order2>
  <div class='step__order__number'>2</div>
</ng-template>
