/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
// buttons.scss is using variables so, it needs to be imported beforehand
@import "./app/scss/variables.scss";
@import "./app/scss/typography.scss";
@import "./app/scss/mixins.scss";
@import "./app/scss/slider.scss";
@import "./app/scss/utilities.scss";
@import "./app/scss/buttons.scss";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: #535353;
}
button{
    border: none;
}

html {
    scroll-behavior: smooth;
    color: #424242;
    font-family: 'Montserrat', sans-serif; 
    background-color: white;
    font-size: 62.5%; // 16px default --> 10px = 1em//
    @include media(big-desktop) {
        font-size: 75%; // 12px
    }

    @include media(tab-land) {
        font-size: 56.25%; // 9px
    }

    @include media(tab-port) {
        font-size: 56.25%; // 9px
    }

    @include media(phone) {
        font-size: 50%; // 8px
    }
}



