<div class="dashboard flex-verticalStart max-width-container">
  <div class="oneByOneSplit--smLeft__left">

    <div class="dashboard__overview boxWrapper">
      <div class="flex-verticalCentered">
        <div class="profileImg">
          <img *ngIf="profileImgUrl !== null; else imagePlaceholder" [src]="profileImgUrl" alt=""
            class="profileImg__img">
        </div>
        <div class="basicDetails">
          <p class="basicDetails__name boldText-xxl">{{userName}}</p>
          <div class="basicDetails__rating">
            <img src="../../assets/img/rating-stars/star-solo.svg" alt="" class="basicDetails__rating__star">
            <h4 class="heading-fourth">5 (1 review)</h4>
          </div>
        </div>
      </div>

      <hr class="horizontalLine--xxl">

      <div class="serviceDetails">
        <div class="serviceDetail flexSpacedRow">
          <p class="paragraph-lg">Захиалага Дуусгадаг</p>
          <div class="progress">
            <div class="progressbar__background">
              <span class="progressbar__fill" id="responseRateProgress"></span>
            </div>
            <p class="paragraph-lg progress__text">100%</p>
          </div>
        </div>
        <div class="serviceDetail flexSpacedRow">
          <p class="paragraph-lg">Хариу Өгдөг</p>
          <div class="progress">
            <div class="progressbar__background">
              <span class="progressbar__fill" id="responseRateProgress"></span>
            </div>
            <p class="paragraph-lg progress__text">100%</p>
          </div>
        </div>
        <div class="serviceDetail flexSpacedRow">
          <p class="paragraph-lg">Цагтаа Хүргэдэг</p>
          <div class="progress">
            <div class="progressbar__background">
              <span class="progressbar__fill" id="responseRateProgress"></span>
            </div>
            <p class="paragraph-lg progress__text">100%</p>
          </div>
        </div>
      </div>

      <hr class="horizontalLine--xl">

      <div class="otherDetails">
        <div class="otherDetail flexSpacedRow">
          <p class="paragraph-lg"> 7-р Сард Олсон Орлого </p>
          <p class="boldText-lg">₮0</p>
        </div>
        <div class="otherDetail flexSpacedRow">
          <p class="paragraph-lg"> Хариу Өгдөг Хугацаа </p>
          <p class="boldText-lg">Хоосон</p>
        </div>
      </div>
    </div>

    <div class="dashboard__inbox boxWrapper margin-top-md">
      <div class="flex-spaceBetween">
        <p class="paragraph-xl">Шуудан</p>
        <button type="button" class="text-btn text-btn--large text-btn--green">Бүгдийн Үзэх</button>
      </div>
      <hr class="horizontalLine--xl">
      <ul class="messagePreviews">
        <li class="messagePreview" *ngFor="let messagePreview of messagePreviews">
          <img src={{messagePreview.profileImg}} alt="" class="messagePreview__profile">
          <div class="messagePreview__text">
            <p class="boldText-lg messagePreview__name margin-bot-xs">{{messagePreview.name}}</p>
            <p class="paragraph-lg messagePreview__preview">{{messagePreview.message}}</p>
          </div>
          <p class="labelText--2">{{messagePreview.date}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="oneByOneSplit--smLeft__right">
    <div class="dashboard__analytics">
      <div class="dashboard__analytics__boxes">
        <div class="dashboard__analytics__box dashboard__analytics__box--1">
          <h1 class="heading-primary whiteText">₮100000000</h1>
          <p class="paragraph-xl whiteText noWrapText">Нийт Орлого</p>
        </div>
        <div class="dashboard__analytics__box dashboard__analytics__box--2">
          <h1 class="heading-primary whiteText">8000</h1>
          <p class="paragraph-xl whiteText noWrapText">Нийт Дуусгасан Захиалага</p>
        </div>
        <div class="dashboard__analytics__box dashboard__analytics__box--3">
          <h1 class="heading-primary whiteText">₮4000000</h1>
          <p class="paragraph-xl whiteText noWrapText">Дундаж Борлуулалтын Үнэ</p>
        </div>
      </div>
      <div class="dashboard__analytics__chart boxWrapper margin-top-md">
        <button type="button" class="dropdown" appDropDown>
          <div class="dropdown__btn"> Сүүлийн {{currentChartDisplayRange}} хоног
          </div>
          <ul class="dropdown__options animated zoomIn evenFaster">
            <li class="dropdown__options__el" *ngFor="let range of chartDisplayRanges"
              (click)="onSelectChartDisplayRange(range)">
              Сүүлийн {{range}} хоног
            </li>
          </ul>
        </button>
        <canvas id="analyticsChart" width="100%" height="100%">
        </canvas>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<ng-template #imagePlaceholder>
  <div class="profileImgr">
    <img src="../../../assets/img/photo2.svg" alt="" class="profileImg__img">
  </div>
</ng-template>
