<div class="dashboard flex-verticalStart max-width-container">
    <div class="oneByOneSplit__left">
        <div class="dashboard__overview boxWrapper">

        </div>
        <div class="dashboard__inbox boxWrapper">
            
        </div>
    </div>
    <div class="oneByOneSplit__right">
        <div class="dashboard__analytics">
            <div class="dashboard__analytics__boxes">

            </div>
            <div class="dashboard__analytics__chart boxWrapper">

            </div>
        </div>
    </div>
</div>