@import '../scss/utilities.scss';
@import '../scss/typography.scss';
@import '../scss/buttons.scss';

.dashboard {
  &__analytics {
    &__boxes {
      display: flex;
      justify-content: space-between;
    }

    &__box {
      padding: 5rem;
      text-align: center;
      width: 32%;
      &--1 {
        background-color:#dfb754;
      }

      &--2 {
        background-color: #e76f51;
      }

      &--3 {
        background-color: #e49555;
      }
    }
  }
}


.profileImg {
  display: block;
  height: 8rem;
  width: 8rem;
  margin-right: 3rem;

  &__img {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    width: 100%;
    height: 100%;
  }
}

.basicDetails {
  &__rating {
    display: flex;
    margin-top: 5px;

    &__star {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      padding-bottom: 2px;
    }
  }
}

.flexSpacedRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.progress {
  display: flex;
  align-items: center;

  &__progressBar {
    margin-right: 1rem;
  }
}

.progressbar {

  &__background,
  &__fill {
    border-radius: 999px;
  }

  &__background {
    margin-right: 1.5rem;
    position: relative;
    background-color: #f0f0f0;
    width: 8rem;
    height: 1rem;
  }

  &__fill {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1bb86e;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
}

.messagePreviews {
  height: 40rem;
  overflow-y: scroll;
}

.messagePreview {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e5e7;
  padding: 1.5rem;

  &__profile {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }
}
