<div class="profileContainer max-width-container">
    <div class="profileInfo profileWrapper">
        <div class="profileInfo__overview">
            <img src="../../assets/img/profilePlaceholder.svg" alt="" class="profileInfo__overview__profileImage">
            <div class="profileInfo__overview__details">
                <p class="boldText-large">{{userName}}</p>
                <img src="../../assets/img/rating-stars/rating-1-star.svg" class="profileInfo__overview__details__rating">
                <p class="paragraph-medium">МБЖ-д нэгдсэн он, сар: {{userJoinDate}}</p>
                <p class="paragraph-medium">Дундаж хариу өгдөг хугацаа: {{userResponseTime}}</p>
            </div>
            <div class="profileInfo__details">
                
            </div>
        </div>
    </div>
    <div class="profileWork profileWrapper">
        <h2 class="heading-tertiary">Худалдаалж буй Гигүүд</h2>
    </div>

</div>