<div class="backgroundColor">
  <div class="profileContainer max-width-container">
    <div class="profileInfo profileWrapper">
      <div class="profileInfo__overview">
        <div class="profileInfo__overview__preview">
          <img src="../../assets/img/Gigs/P-01.jpg" alt="" class="profileInfo__overview__profileImage">
          <div class="profileInfo__overview__preview__parts">
            <p class="boldText-xl">{{userSignupData.userName}}</p>
            <div class="flex-verticalCentered">
              <img src="../../assets/img/rating-stars/rating-1-star.svg" class="profileInfo__overview__preview__rating">
              <p class="labelText--2">(8-ш үнэлгээнүүд)</p>
            </div>
            <div class="flex-verticalCentered" *ngIf="!editingIntro">
              <p class="paragraph-lg profileInfo__overview__preview__parts__intro">{{intro}}</p>
              <img src="../../assets/img/draw.svg" class="profileInfo__overview__preview__parts__editIcon"
                (click)="onEditIntro()" alt="">
            </div>
            <form [formGroup]="introForm">
              <input type="text" class="subtle-input" *ngIf="editingIntro" maxlength="63" formControlName="intro">
            </form>
          </div>
        </div>
        <div class="profileInfo__overview__preview__editBtns" *ngIf="editingIntro">
          <button type="button" class="profileInfo__overview__preview__editBtns__cancel btn"
            (click)="onCancelEditingIntro()">Болих</button>
          <button type="button" class="profileInfo__overview__preview__editBtns__update btn btn-green"
            (click)="onUpdateIntro()">Өөрчлөх</button>
        </div>
        <div class="profileInfo__actions">
          <button type="button" class="marginVertical-md coolBtn-1"><span>Олон Нийтийн Нүдээр Харах</span></button>
        </div>

        <div class="profileInfo__overview__timeInfo" *ngIf="!privateMode">
          <hr class="horizontalLine">
          <div class="profileInfo__overview__details">
            <div class="profileInfo__overview__detail">
              <img src="../../assets/img/leftCorny/profile.svg" class="paragraph-lg profileInfo__overview__detail__img"
                alt="">
              <p class="paragraph-lg profileInfo__overview__detail__text">МБЖ-д нэгдсэн он, сар:
                <span class="boldText">{{userSignupData.joinDate}}</span></p>
            </div>
            <div class="profileInfo__overview__detail">
              <img src="../../assets/img/leftCorny/watch.svg" class="paragraph-lg profileInfo__overview__detail__img"
                alt="">
              <p class="paragraph-lg profileInfo__overview__detail__text">Дундаж хариу өгдөг хугацаа:
                <span class="boldText">{{userResponseTime}}</span></p>
            </div>
            <div class="profileInfo__overview__detail">
              <img src="../../assets/img/leftCorny/email.svg" class="paragraph-lg profileInfo__overview__detail__img"
                alt="">
              <p class="paragraph-lg profileInfo__overview__detail__text">Сүүлийн Хүргэлтийн Хурд:
                <span class="boldText">{{userLastDeliveryTime}}</span></p>
            </div>
          </div>
        </div>

      </div>
      <div>
        <hr>
        <div class="profileInfo__details">
          <div class="profileInfo_detail">
            <div class="profileInfo_detail__heading">
              <p class="boldText-large margin-bot-sm">Хувийн Тайлбар</p>
              <a class="emphasis-link--2 paragraph-xl">Өөрчлөх</a>
            </div>
            <p class="paragraph-lg">{{personalDescription}}</p>
          </div>

          <div class="profileInfo_detail">
            <div class="profileInfo_detail__heading">
              <p class="boldText-large margin-bot-sm">Чадварууд</p>
              <a class="emphasis-link--2 paragraph-xl">Нэмэх</a>
            </div>

            <div *ngIf='professionalSkills; else noSkill'>
              <div class="margin-bot-sm" *ngFor="let skill of professionalSkills">
                <div class="profileInfo_detail__skill">
                  <p class="paragraph-lg">{{skill.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- show educations only if education exists because it was a optional input in seller set up component -->
          <div class="profileInfo_detail">
            <div class="profileInfo_detail__heading">
              <p class="boldText-large margin-bot-sm">Боловсрол</p>
              <a class="emphasis-link--2 paragraph-xl">Нэмэх</a>
            </div>
            <div *ngIf='professionalEducations.data.length !== 0; else noEducation'>
              <div class="margin-bot-sm" *ngFor="let education of professionalEducations.data">
                <div class="profileInfo_detail__education">
                  <p class="paragraph-lg">{{education.title}} - {{education.major}}</p>
                  <p class="paragraph-lg greyText margin-top-xxs">{{education.universityName}}, {{education.country}},
                    {{education.graduationYear}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- show certifications only if education exists because it was a optional input in seller set up component -->
          <div class="profileInfo_detail">
            <div class="profileInfo_detail__heading">
              <p class="boldText-large margin-bot-sm">Сертификатнууд</p>
              <a class="emphasis-link--2 paragraph-xl">Нэмэх</a>
            </div>

            <div *ngIf='professionalCertifications.data.length !== 0; else noCertification'>
              <div class="margin-bot-sm" *ngFor="let certification of professionalCertifications.data">
                <div class="profileInfo_detail__certification">
                  <p class="paragraph-lg">{{certification.name}}</p>
                  <p class="paragraph-lg greyText margin-top-xxs">{{certification.giver}} {{certification.year}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profileWork">
      <div class="profileWork__info profileWrapper">
        <h2 class="heading-tertiary">Худалдаалж буй Гигүүд</h2>
        <div class="profileWork__closed">
          <h2 class="profileWork__closed__text">Харуулах гиг байхгүй байна</h2>
          <div class="profileWork__closed__img"></div>
        </div>
        <button type="button" class="profileWork__createGig btn btn-green btn--largeText">Гиг Зохиох</button>
      </div>
      <div class="profileWork__reviewContainer profileWrapper">
        <h2 class="heading-tertiary">Үнэлгээнүүд</h2>
        <div class="profileWork__reviewContainer__chooseType">
          <button *ngFor="let choice of reviewChoices; let i = index"
            [ngClass]="{'choice-btn-checked' : currentChoice === i}" type="button" class="choice-btn"
            (click)="choiceChange(i)">{{reviewChoices[i]}} үүднээс</button>
        </div>
        <div>
          <hr>
          <div class="margin-bot-md profileWork__reviewContainer__reviewWrapper" *ngFor="let review of reviews">
            <div class="profileWork__reviewContainer__review">
              <img src="../../assets/img/profilePlaceholder.svg" alt=""
                class="profileWork__reviewContainer__review__profileImg">
              <div>
                <div class="flex-verticalCentered">
                  <p class="boldText-large">{{review.name}}</p>
                  <img src="../../assets/img/rating-stars/star-solo.svg" alt=""
                    class="profileWork__reviewContainer__review__star">
                  <p class="profileWork__reviewContainer__review__starText">{{review.rating}}</p>
                </div>
                <p class="marginVertical-sm paragraph-md">
                  {{review.review}}
                </p>
                <p class="greyText paragraph-md">
                  {{review.date}}
                </p>
              </div>
            </div>
            <hr>
            <button class="text-btn text-btn--large text-btn--darkGreen margin-top-sm">+ Сунгах</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noSkill>
  <p class="paragraph-lg">Чадвараа нэм нүү<p>
</ng-template>

<ng-template #noCertification>
  <p class="paragraph-lg">Сертификатаа нэм нүү<p>
</ng-template>

<ng-template #noEducation>
  <p class="paragraph-lg">Боловсролоо нэм нүү<p>
</ng-template>
