@import '../scss/mixins.scss';
@import '../scss/utilities.scss';
@import '../scss/buttons.scss';
@import '../scss/imageDropbox.scss';

.backgroundColor {
  background-color: rgb(245, 245, 245);
}

.profileContainer {
  display: flex;
  align-items: flex-start;
}

.profileInfo {
  width: 35%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;

  &__actions {
    margin-top: 1rem;
  }

  &__overview {
    &__detail {
      display: flex;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      &__img {
        margin-right: 1rem;
        width: 1.8rem;
        height: 1.8rem;
      }

      &__text {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    &__preview {
      display: flex;
      justify-content: flex-start;

      &__parts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__intro {
          line-break: anywhere;
        }

        &__editIcon {
          margin-left: 1rem;
          width: 1.4rem;
          height: 1.4rem;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      &__rating {
        width: 10rem;
        margin-right: 1rem;
      }
    }
  }

  &__details {
    margin-top: 2rem;
  }

  &__editBtns {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    &__cancel {
      margin-right: 2rem;
      background-color: white;
    }
  }
}

.profileInfo_detail {
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__dataDisplayer {
    margin-bottom: 2rem;
  }
}



.profileWork {
  width: 62%;

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__closed {
    position: relative;
    margin: 2rem 0;
    width: 100%;
    height: 100%;

    &__text {
      @include absCenter;
      color: rgb(218, 218, 218);
      font-size: 3rem;
      text-align: center;
    }

    &__img {
      width: 100%;
      height: 40rem;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../../assets/img/closed.svg') center no-repeat;
      background-size: contain;
    }
  }

  &__createGig {
    display: block;
    margin: 0 auto;
  }

  &__reviewContainer {
    margin: 2rem 0;

    &__chooseType {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    &__review {
      display: flex;
      margin: 2rem 0;

      &__profileImg {
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
      }

      &__star {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
      }

      &__starText {
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(130, 130, 30);
      }
    }
  }

}

.profileWrapper {
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 2rem 4rem;
}

.subtle-input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
}

.dataChangerForm {
  background-color: rgb(235, 235, 235);
  margin-bottom: 2rem;

  &__textarea {
    width: 100%;
    height: 20rem;
  }

  &__wrapper {
    padding: 2rem;
  }

  &__input {
    padding: 1rem;
    font-size: 1.4rem;
  }

  &__oneInput,
  &__twoInputs {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__twoInputs {
    display: flex;

    &__input {
      &__large {
        width: 100%;
        margin-left: 1rem;
      }
    }
  }
}
